/*HEADER Y NAV*/

*{
	margin:0;
	padding:0;
	font-family: 'Poppins', sans-serif;
}
body {
	background-color:rgb(245, 245, 245);
}
.container {
	padding-left:50px;
}
header {
	background-color:rgb(76,91,102);
}
.menu {
	display:flex;
	padding-top:50px;
	padding-left:50px;
}
.menu a {
	color:rgb(228, 230, 230);
	text-decoration:none;
	margin-right:20px;
}
.sub-menu {
	padding-top:10px;
}
.logo{
	padding-left:30px;
	padding-right:40%;
}
.menu2 {
	display:flex;
	padding-left:60px;
	padding-top:50px;
}
.sub-menu2 {
	padding-left:150px;
	padding-top:50px;
}
.sub-menu2 h1 {
	font-size:48px;
	color: white;
}
.boton {
	display:flex;
	color:white;
}
.boton a {
	color: white;
	padding-right:20px;
}
.boton img {
	padding-left:20px;
	height:20px;
	padding-top:5px;
	padding-right:5px;
	margin-top:10px;
}
.boton2 {
	text-decoration:none;
	background:rgb(60, 146, 208);
	border-radius:30px;
	padding:8px 40px 8px 40px;
}
.p1 {
	color:rgb(220, 220, 220);
}
.p2 {
	color:rgb(160, 160, 160);
}
nav a:hover {
	border-radius:30px;
	background:rgb(62, 72, 80);
}
nav a {
	text-decoration:none;
	padding:2px 20px 2px 20px;
}
.or {
	color:rgb(215, 218, 219);
	margin:0px 0px 0px 20px;
	margin-top:10px;
}
.boton3 {
	margin-top:10px;
}

/*SECTION*/

.container-dummy {
	background-color:rgb(236, 236, 236);
	display:grid;
	grid-template-columns:repeat(5, 250px);
	padding-top:30px;
	padding-bottom:20px;
}
.container-dummy img:nth-child(1) {
	padding-left:125px;
}
.border {
	border:1px solid rgb(189, 189, 189);
}
.container-img {
	display:grid;
	grid-template-columns:repeat(3, 400px);
	justify-content:center;
	text-align:center;
	padding-top:100px;
	padding-bottom:100px;
	background-color:rgb(245, 245, 245);
}
.container-img h2 {
	padding-bottom:10px;
	padding-top:20px;
	font-size:20px;
	color:rgb(75, 90, 101);
}
.container-img p {
	color:rgb(164, 164, 164);
	font-size:14px;
	margin-bottom:40px;
}
.container-img a {
	background:rgb(75, 143, 203);
	text-decoration:none;
	color: white;
	border-radius:5px;
	padding:10px 20px 10px 20px;
}
.container-projects-name {
	display:flex;
	padding-left:110px;
	padding-top:10px;
	padding-bottom:20px;
	background-color:rgb(245, 245, 245);
}
.container-projects-name h2{
	font-size:20px;
	color:rgb(88, 102, 112);
}
.container-projects-name img {
	height:25px;
	padding-right:10px;
}
.container-projects {
	object-fit:cover;
	display:grid;
	grid-template-columns:repeat(4, 250px);
	grid-column-gap:30px;
	justify-content:center;
	padding-bottom:150px;
	background-color:rgb(245, 245, 245);
}
.container-projects img{
	width:250px;
	height:100%;
	border: 5px groove white;
}
.container-info {
	display:flex;
	padding-left:110px;
}
.container-info img {
	height:25px;
	padding-right:10px;
	padding-bottom:30px;
}
.container-info h2 {
	font-size:20px;
	color:rgb(76, 91, 102);
}
.container-global {
	padding-left:110px;
}
.container-global h3 {
	color: rgb(76, 91, 102);
}
.container-global p {
	color:rgb(160, 160, 160);
}
.container-global a {
	color:rgb(112, 175, 221);
	text-decoration:none;
}
.container-info2 {
	width:100%;
	display:flex;
	margin-bottom:20px;
}
.container-info2 img {
	width: 200px;
	border: 5px groove white;
	margin-right:30px;
	height:130px;
}
.container-info3 {
	display:flex;
	width:100%;
}
.container-info3 img{
	border: 5px groove white;
	width:200px;
	margin-right:30px;
	margin-bottom:20px;
}
.container-info2 p {
	font-size:13px;
}
.container-info3 p {
	font-size:13px;
}
.titulo1 {
	margin-top:10px;
}
.container-subinfo {
	width:40%;
	margin-left:80px;
	padding:20px;
	font-size:13px;
}
.container-global {
	background-color:rgb(245, 245, 245);
	display:flex;
}
.container-info_01 {
	display:flex;
	margin-left:475px;
}
.container-global-info {
	background-color:rgb(245, 245, 245);
	display:flex;
}
.container-global-info h2 {
	font-size:20px;
	color: rgb(76, 91, 102);
}
.container-info_01 img{
	height:25px;
}
.older {
	margin-left:5px;
}
.border1 {
	border:1px solid rgb(189, 189, 189);
	width:84%;
	margin-left:8%;
}

/*FOOTER*/

.container-footer {
	background-color:rgb(245, 245, 245);	
	display:flex;
	padding-top:20px;
	padding-bottom:20px;
}
.container-footer p {
	padding-left:110px;
	color: rgb(76, 91, 102);
}
.container-redes {
	padding-left:730px;
}
.container-footer img {
	margin-right:12px;
}


/*RESPONSIVE - TABLETS - SE USO LA OPCION IPAD*/ 
@media (max-width: 1023px) and (min-width:768px) {

	body {
		background-color:rgb(245, 245, 245);
	}

	/*HEADER*/

  	.logo {
 		padding-right:100px;
  	}
  	.container {
  		font-size:10px;
  		background-color:rgb(76,91,102);
  	}
  	.sub-menu2 h1 {
  		font-size:30px;
  	}
  	.sub-menu2 {
  		padding-left:20px;
  	}
  	.menu2 img {
  		margin-bottom: 0%;
  		padding-bottom: 0%;
  	}
  	.menu2 {
  		padding-left:10px;
  	}
  	.menu2 .boton {
  		font-size:8px;
  		margin:0px;
  	}
  	.boton img {
  		width:10px;
  		height:10px;
  		padding:5px;
  		margin-top:6px;
  	}

    /*SECTION*/

  	.container-dummy{
  		grid-template-columns:repeat(5, 130px);
  		text-align:center;
  		justify-content:center;
  	}
  	.container-dummy img:nth-child(1) {
		padding-left:0;
	}
	.container-img {
		width:100%;
		grid-template-columns:repeat(3, 250px);
		justify-content:center;
		text-align:center;
	}
	.container-img img {
		width:50px;
	}
	.container-img h2 {
		font-size:20px;
	}
	.container-img p {
		font-size:10px;
	}
	.container-img a {
		font-size:15px;
		padding:5px 10px 5px 10px;
	}
	.container-projects-name {
		padding-left:20px;
	}
	.container-projects {
		grid-template-columns:repeat(2, 250px);
		grid-template-rows:repeat(2, 250px);
		grid-gap:30px;
		justify-content:center;
	}
	.container-global-info {
		width:100%;
		text-align:center;
	}
	.container-info_01 {
		display:flex;
		margin-left:180px;
	}
	.container-global {
		width:100%;
		padding-left:20px;
	}
	.container-info2 {
		display:inline-block;
	}
	.container-info3 {
		display:inline-block;
	}
	.container-subinfo {
		width:100%;
		margin-left:20px;
		padding-top:80px;
	}
	.container-info {
		padding-left:20px;
	}
	.border1 {
		width:80%;		
	}
	.container-redes {
		padding-left:230px;
	}
}

/*RESPONSIVE - CELULAR - Se USO LA OPCION IPHONE/6/7/8*/

@media (max-width: 767px) and (min-width:320px) {

	.logo {
		padding-left:0px;
		padding-right:5%;
	}
	.menu2{
		padding-left:0px;
		padding-top:0px;
	}
	.container {
		padding-left:10px;
	}
	.menu2 img {
		width:350px;
	}
	.sub-menu {
		padding-top:0px;
		padding-left:60px;
	}
	.container-dummy{
  		grid-template-columns:repeat(3, 130px);
  		grid-template-columns:repeat(3, 130px);
  		text-align:center;
  		justify-content:center;
  	}
  	.container-dummy img:nth-child(1) {
		padding-left:0;
	}
	.container-dummy img:nth-child(4) {
		padding-left:100px;
	}
	.menu2 {
		padding-top:20px;
	}
	.menu {
		display:flex;
		padding-top:20px;
		padding-left:20px;
	}
	.sub-menu2 p {
		font-size:11px;
	}
	.sub-menu2 h1 {
		font-size:30px;
	}
	.boton .boton2 {
		font-size:10px;
	}
	.boton img {
		width:10px;
	}
	.container-img {
		grid-template-columns:repeat(1, 250px);
		grid-template-rows:repeat(3, 250px);
		justify-content:center;
		text-align:center;
	}
	.container-img img {
		width:50px;
	}
	.container-img h2 {
		font-size:20px;
	}
	.container-img p {
		font-size:10px;
	}
	.container-img a {
		font-size:15px;
		padding:5px 10px 5px 10px;
	}
	.container-projects-name {
		justify-content:center;
		padding-left:0px;
	}
	.container-projects {
		grid-template-columns:repeat(1, 250px);
		grid-template-rows:repeat(4, 250px);
		justify-content:center;
		padding-bottom:150px;
		grid-gap:30px;
	}
	.container-info {
		padding-left:20px;
	}
	.container-info_01 {
		margin-left:100px;
	}
	.container-global {
		padding-left:20px;
	}
	.container-info2 {
		display:inline-block;	
	}
	.container-info3 {
		display:inline-block;
	}
	.container-info2 p {
		font-size:10px;
		text-align:justify;
	}
	.container-info3 p {
		font-size:10px;
		text-align:justify;
	}
	.container-info3 img{
		border: 5px groove white;
		width:100px;
		margin-right:30px;
		margin-bottom:20px;
	}
	.container-info2 img{
		border: 5px groove white;
		width:100px;
		height:50px;
		margin-right:30px;
		margin-bottom:20px;
	}
	.container-global-info h2 {
		font-size:11px;
	}
	.container-global h3 {
		font-size:11px;
	}
	.container-subinfo {
		width:50%;
		margin-left:0px;
		padding:20px;
		font-size:10px;
		text-align:justify;
	}
	.border1 {
		width:80%;		
	}
	.container-redes {
		padding-left:130px;
	}
	.container-footer p {
		font-size:10px;
	}
	.container-redes img {
		width:20px;
	}
	.container-footer p {
		padding-left:50px;
		color: rgb(76, 91, 102);
	}
}